$primary-color-dark: #333;
$primary-color-medium: #666563;
$primary-color-light: #fff;
$secondary-color: #e8e9e5;
$terciary-color: #c3c2b9;

$critical: red;
$high: rgb(255, 166, 0);
$medium: rgb(255, 251, 0);
$low: rgb(30, 255, 0);
