$primary-color-dark: rgb(83, 183, 250);
$primary-color-medium: rgb(141, 208, 253);
$primary-color-light: rgb(213, 238, 255);
$secondary-color: #e8e9e5;
$terciary-color: #c3c2b9;

$critical: rgb(255, 0, 0);
$high: rgb(255, 166, 0);
$medium: rgb(255, 251, 0);
$low: rgb(30, 255, 0);
