nav {
  width: 25%;
  min-width: 170px;

  ul {
    height: 100%;
    padding: 15vh 0;
    background-color: rgb(83, 183, 250);

    @include flex(column, flex-start, flex-start);

    li {
      padding-top: 2vh;
      padding-bottom: 2vh;
      width: 100%;
      cursor: pointer;

      @include flex(row, flex-start, flex-start);

      div {
        height: 30px;
        width: 30px;
        margin-left: 25px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      p {
        line-height: 30px;
        font-weight: 600;
        font-size: 15px;
      }

      &:hover {
        background-color: rgb(141, 208, 253);
      }
    }
  }
}
