@import 'mixins';
@import 'variables';
@import 'reset';
@import 'navbar';
@import 'todos_proj';
@import 'modal';

#content {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr minmax(768px, 1920px) 1fr;
  font-family: 'Quicksand', sans-serif;
}

main {
  height: 100%;
  grid-column: 2/3;

  @include flex(row, center, center);

  & > * {
    height: 100%;
  }
}
