@import 'mixins';
@import 'variables';

.title-btn {
  line-height: 25px;

  @include flex(column, center, flex-start);

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .proj-list-todo {
    margin-left: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

#sect-selected-todo {
  width: 100%;
  background-color: rgb(242, 247, 253);

  #show-all-todo,
  #show-all-proj {
    height: 100%;

    h1 {
      height: 80px;
      text-align: center;
      line-height: 80px;
      font-size: 30px;
      font-weight: 700;
      background-color: #fff;
      border-bottom: 1px solid rgba(204, 204, 204, 0.2);
      box-shadow: 1px 1px 8px -2px rgba(63, 63, 63, 0.15);
    }

    .show-ul-cont {
      ul {
        margin: 40px;

        li {
          margin-bottom: 2vh;
          display: flex;

          .todo-priority {
            position: relative;
            width: 90px;
            margin-right: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            p {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 12px;
              font-weight: 600;
            }

            &:hover {
              cursor: pointer;
            }
          }

          .todo-content {
            width: 100%;
            padding: 20px 20px;
            line-height: 25px;
            border: 1px solid rgba(204, 204, 204, 0.2);
            border-radius: 10px;
            box-shadow: 5px 5px 8px -2px rgba(63, 63, 63, 0.15);
            background-color: rgb(255, 255, 255);

            .title-btn {
              h3 {
                font-size: 22px;
                font-weight: 700;
              }

              h4 {
                font-size: 18px;
                font-weight: 600;
              }
            }

            p {
              margin-left: 15px;
              font-size: 15px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
